@media only screen and (max-width: 800px) {
	#top {
		flex-direction: column-reverse;
		align-items: center
	}

	#top section figure * {width: 50%}
	#top aside article {
		padding: 0;
		width: 42.5vh;
		background: none
	}
	#top aside article h1 a {
		font-size: .675em
	}
	
	#bottom section article {width: 75% !important}
	#bottom h1 *,
	#bottom h2 *,
	#bottom h3 * {
		font-size: 2.5vh
	}

	#info content {
		width: 75% !important;
		position: absolute
	}
	#info content > .figure {display: none !important}
	#info h1 * {font-size: 4vh}
	#info em {display: block !important}

	#contact code {font-size: .875em}
	#contact .td {flex-flow: column !important}

	.table {
		flex-direction: column;
		background: none !important;
		padding: 0;
		border-radius: 0
	}

	.td {flex-direction: row !important}
	.tr p {padding: 0 0 .5em}

	footer {font-size: 1em !important}
}